* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3vh;
}

body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

input {
  border: 1px solid #000;
}

input:focus,
input:hover {
  box-shadow: 0 0 0 2px var(--color); /*  #66 = 40%  */
}

.header {
  padding: 6rem;
  display: flex;
  justify-content: center;
}

.input__bar {
  padding: 6rem;
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.box__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphic {
}

.footer {
}

.function {
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 0 2rem 0;
}

.function::before {
  content: "10";
  position: absolute;
  font-size: 8px;
  bottom: -0.9rem;
  left: 7.5rem;
}
