:root {
  --main-color: #112d4e;
  --second-color: #dbe2ef;
  --third-color: #3f72af;
  --forth-color: #f9f7f7;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  background-color: var(--second-color);
}

main {
  height: 100%;
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

input {
  background-color: var(--forth-color);
}

input:focus,
input:hover {
  box-shadow: 0 0 0 2px var(--color); /*  #66 = 40%  */
}

.header {
  background-color: var(--main-color);
  padding: 0.5rem 6rem;
  display: flex;
  justify-content: center;
}

.title {
  color: var(--second-color);
}

.main__body {
  padding: 6rem;
}

.ltext {
  font-weight: 700;
  color: var(--forth-color);
}

.input__bar {
  padding: 6rem;
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.box__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--main-color);
  padding: 4rem;
  border-radius: 3rem;
}

.box__number {
}

.area {
  padding: 2rem 2rem;
  margin: 3rem;
  background-color: var(--forth-color);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.area__boxtext {
  color: var(--main-color);
}

.area__boxinfo {
}

.graphic {
  padding: 2rem;
  margin: 0 0 4rem 0;
  background-color: var(--main-color);
}

.footer {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  background-color: var(--forth-color);
}

.footer__title {
  color: var(--main-color);
}

.function {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 0 2rem 0;
  color: var(--main-color);
}

@media (max-width: 619px) {
  .input__bar {
    flex-direction: column;
    padding: 2rem;
  }

  .main__body {
    padding: 1rem;
  }

  .highcharts-figure {
    justify-content: center;
  }
}
